<div>
  <h1 class="text-4xl font-bold">Create Course</h1>


  <%= form_with model: @course do |f| %>
    <div>
      <%= f.label 'title' %>
      <%= f.text_field :title %>
      <% @course.errors.full_messages_for(:title).each do |m| %>
        <p><%= m %></p>
      <% end %>
    </div>
    
    <%= f.label 'content' %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
</div>
